* {
    box-sizing: border-box;
}

body {
    font-family: "Muli", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.heading {
    position: fixed;
    top: 10px;
}

h1 {
    font-family: "Courier New", Courier, monospace, arial, helvetica;
}
